@model ProductEditViewModel
@{
    Layout = "_Layout";  // Varsayılan olarak yeni layout'u kullan
}

<div class="container my-5">
    <h2 class="my-4 text-center">
         Envanter Detayı
    </h2>
    <hr />
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <form asp-action="ProductDetails" method="post">
        <input name="Id" type="hidden" value="@Model.Id" />
        <a asp-controller="Management" asp-action="ProductList" class="btn btn-dark">Geriye Dön</a>
        <br />
        <br />

        <!-- Ürün Bilgileri -->
        <section class="mb-5">
            <h4 class="section-title">Ürün Bilgileri</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ProductBarkod" class="form-label">Ürün Barkodu</label>
                    <input asp-for="ProductBarkod" id="ProductBarkod" class="form-control" value="@Model.ProductBarkod" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="ProductName" class="form-label">Ürün Adı</label>
                    <input asp-for="ProductName" id="ProductName" class="form-control" value="@Model.ProductName" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Description" class="form-label">Açıklama</label>
                    <input asp-for="Description" id="Description" class="form-control" value="@Model.Description" />
                </div>
                <div class="col-md-6 mb-3">
                    <label for="SerialNumber" class="form-label">Seri Numarası</label>
                    <input asp-for="SerialNumber" id="SerialNumber" class="form-control" value="@Model.SerialNumber" />
                </div>
            </div>
        </section>

        <br />
        <!-- Mevcut Atamalar -->
        <section class="mb-5">
            <h4 class="section-title">Mevcut Atama</h4>
            <div class="list-group-item d-flex justify-content-between align-items-center mb-2">

                @if (Model.InventoryAssigments != null && Model.InventoryAssigments.Any())
                {
                    <div class="list-group">
                        @foreach (var item in Model.InventoryAssigments)
                        {
                            <div>
                                <strong>@item.User.Name @item.User?.Surname</strong><br />
                                <span class="text-muted">@item.AssignmentDate.ToString("dd-MM-yyyy")</span>
                            </div>
                        }
                    </div>

                }
                else
                {
                    <p>Bu ürün için zimmetli personel bulunmamaktadır.</p>
                }
            </div>
            <!-- Dropdown ile Personel Seçimi -->
            <div class="mb-3">
                <label for="SelectedUserId" class="form-label">Yeni Atama Yap</label>
                <select name="SelectedUserId" class="form-control">

                    @if (Model.InventoryAssigments != null)
                    {
                        <option value="">Yeni Atama Seçiniz ↓ </option>
                        @foreach (var assignment in Model.JoyStaffs)
                        {
                            <option value="@assignment?.Id">
                                @assignment?.Name @assignment?.Surname
                            </option>
                        }
                    }
                    else
                    {
                        @foreach (var item in Model.InventoryAssigments)
                        {
                            <option value="@item.UserId">Yeni Atama Seçiniz ↓ </option>
                            @foreach (var assignment in Model.JoyStaffs)
                            {
                                <option value="@assignment?.Id">
                                    @assignment?.Name @assignment?.Surname
                                </option>
                            }
                        }
                    }



                </select>
            </div>
        </section>

        <!-- Önceki Sahipler -->
        <section class="mb-5">
            <h4 class="section-title">Önceki Atama</h4>
            <div class="list-group-item d-flex justify-content-between align-items-center mb-2">
                @if (Model.AssigmentHistorys != null && Model.AssigmentHistorys.Any())
                {
                    // En güncel atama kaydını alıyoruz
                    var LastPreviousAssigned = Model.AssigmentHistorys.OrderByDescending(item => item.AssignmentDate).FirstOrDefault();

                    <div class="list-group">
                        <div>
                            @if (LastPreviousAssigned?.UserId != null)
                            {
                                <strong>@LastPreviousAssigned.User.Name @LastPreviousAssigned.User.Surname</strong>
                                <br />
                                <span class="text-muted">@LastPreviousAssigned.AssignmentDate.ToString("dd-MM-yyyy")</span>
                            }
                            else
                            {
                                <p>Bu ürün için önceden atanan personel bulunmamaktadır.</p>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <p>Bu ürün için önceden atanan personel bulunmamaktadır.</p>
                }
            </div>
        </section>


        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#previousAssignmentsModal">
            Geçmiş Atamaların Tamamını Görüntüle
        </button>
        <br />


        <!-- Modal (Önceki Atamalar) -->
        <div class="modal fade" id="previousAssignmentsModal" tabindex="-1" aria-labelledby="previousAssignmentsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="previousAssignmentsModalLabel">@Model.ProductBarkod Atama Geçmişi</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <ul class="list-group">
                            @foreach (var item in Model.AssigmentHistorys)
                            {
                                <li class="list-group-item">
                                    <strong>@item.User.Name @item.User.Surname</strong><br />
                                    <span class="text-muted">@item.AssignmentDate.ToString("yyyy-MM-dd")</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!-- Kaydet Butonu -->
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-outline-danger">Bilgileri Güncelle</button>
            </div>

        </div>
    </form>
</div>






<!-- Özelleştirilmiş Stil -->
<style>
    /* Özelleştirilmiş Stil */
    .container {
        max-width: 1200px;
    }

    .section-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: #333;
    }

    .list-group-item {
        background-color: whitesmoke;
        border: 1px solid #ddd;
        padding: 15px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

    .form-control {
        border: 1px solid #ced4da;
        padding: 10px;
        border-radius: 4px;
    }
</style>
