@model StaffEditViewModel
@{
    Layout = "_Layout";  // Varsayılan olarak yeni layout'u kullan
}
<!-- Bootstrap CSS (Yükleme) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS ve jQuery (Yükleme) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<br />
<h3> | Kullanıcı Bilgisi </h3>
<br />
<p> "@Model.Name @Model.Surname"  Personelinin Detayları </p>
<hr />

<form asp-action="StaffDetails" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <!-- Kullanıcı Adı ve Email -->
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="card">
        <div class="card-header">
            Bulunduğu Ekip : 
            @if (Model.UserTeam != null)
            {
                @foreach (var item in Model.UserTeam)
                {
                    @item.Team.TeamName
                }
            }
            else
            {
                <p>Personel henüz bir ekibe atanmamıştır.</p>
            }
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="SelectedTeamId" class="form-label">Yeni Takıma Ata</label>

                <select asp-for="SelectedTeamId" class="form-control">
                    @if (Model.UserTeam != null && Model.Team != null)
                    {
                        @if (Model.UserTeam != null)
                        {
                            @foreach (var item in Model.UserTeam)
                            {
                                <option value="@item.TeamId">Takım Seç</option>
                            }
                            @foreach (var team in Model.Team)
                            {

                                <option value="@team?.Id">

                                    @team?.TeamName
                                </option>
                            }
                        }
                    }



                </select>

            </div>
        </div>
    </div>
    <br />
    <button class="btn btn-dark">Kaydet</button>
</form>
<br />
    <!-- Zimmetli Envanterler -->
    <div class="card">
        <div class="card-header">
            Zimmetli Envanterler
        </div>
        <div class="card-body">
        @if (Model.Document != null)
            {
            <div class="d-inline-block mr-2">
                <a asp-controller="Management"
                   asp-action="ViewZimmetDocument"
                   asp-route-documentName="@Model.Document"
                   class="btn btn-outline-dark"
                   target="_blank">
                    <i class="fas fa-eye"></i> Zimmet Belgesini Görüntüle
                </a>
            </div>

            <div class="d-inline-block">
                <form asp-controller="Management"
                      asp-action="DeleteZimmetDocument"
                      method="post">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="fas fa-eye"></i> Zimmet Belgesini Kaldır
                    </button>
                </form>
            </div>
            }
        else
        {
            <div>
                <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#fileUploadForm">
                    <i class="fas fa-plus"></i> Zimmet Dosyası Ekle
                </button>

                <!-- Dosya Yükleme Formu (Collapse olarak gösterilecek) -->
                <div id="fileUploadForm" class="collapse mt-3">
                    <form asp-action="AddZimmetDocument" method="post" enctype="multipart/form-data">
                        <input name="Id" type="hidden" value="@Model.Id" />
                        <input name="Name" type="hidden" value="@Model.Name" />
                        <input name="Surname" type="hidden" value="@Model.Surname" />


                        <div class="form-group">
                            <label for="modelFile ">Görsel Yükle:</label>
                            <input type="file" name="modelFile" class="form-control" />
                        </div>
                        <button class="btn btn-dark">Yükle</button>
                    </form>
                </div>
            </div>
        }




            <br />
            <br />
            @if (Model.InventoryAssigments != null && Model.InventoryAssigments.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Envanter Barkodu</th>

                            <th>Zimmet Tarihi</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InventoryAssigments)
                        {
                            <tr>
                                <td>@item.Product.ProductBarkod</td>
                                <td>@item.AssignmentDate.ToString("yyyy-MM-dd")</td>
                                <td>

                                <a asp-controller="Management" asp-action="ProductDetails" asp-route-id="@item.ProductId" class="btn btn-outline-dark btn-custom">Envanter Detayı</a>


                                </td>
                                <td>
                                    <form asp-controller="Management" asp-action="AssigmentDelete" method="post" onsubmit="return confirm('Emin misiniz?')" style="display: inline;">
                                        <input type="hidden" name="userId" value="@item.UserId" />
                                        <input type="hidden" name="inventoryAssigmentId" value="@item.Id" />
                                    <button type="submit" class="btn btn-danger btn-custom">Zimmeti Kaldır</button>
                                    </form>



                                </td>

                            </tr>
                            
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p>Bu kullanıcının zimmetli envanteri bulunmamaktadır.</p>
            }
        </div>
    </div>
    <br />

