@model StaffEditViewModel
@{
    Layout = "_Layout";  // Varsayılan olarak yeni layout'u kullan
}

<br />
<h3> | Kullanıcı Bilgisi </h3>
<br />
<p> "@Model.Name @Model.Surname"  Personelinin Detayları </p>
<hr />

<form asp-action="UserEdit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input name="Id" type="hidden" value="@Model.Id" />

    <!-- Kullanıcı Adı ve Email -->
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <button class="btn btn-dark">Kaydet</button>
</form>
<br />
    <!-- Zimmetli Envanterler -->
    <div class="card">
        <div class="card-header">
            Zimmetli Envanterler
        </div>
        <div class="card-body">
            @if (Model.Document != null)
            {
                <a asp-controller="Management"
                   asp-action="ViewZimmetDocument"
                   asp-route-documentName="@Model.Document"
                   class="btn btn-outline-dark"
                   target="_blank">
                    <i class="fas fa-eye"></i> Belgeyi Görüntüle
                </a>
            }
            else
            {
                <a asp-controller="Management"
                   class="btn btn-outline-dark">
                    <i class="fas fa-plus"></i> Zimmet Dosyası Ekle
                </a>
            }




            <br />
            <br />
            @if (Model.InventoryAssigments != null && Model.InventoryAssigments.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Envanter Barkodu</th>

                            <th>Zimmet Tarihi</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InventoryAssigments)
                        {
                            <tr>
                                <td>@item.Product.ProductBarkod</td>
                                <td>@item.AssignmentDate.ToString("yyyy-MM-dd")</td>
                                <td>

                                <a asp-controller="Management" asp-action="ProductDetails" asp-route-id="@item.ProductId" class="btn btn-outline-dark btn-custom">Envanter Detayı</a>


                                </td>
                                <td>
                                    <form asp-controller="Management" asp-action="AssigmentDelete" method="post" onsubmit="return confirm('Emin misiniz?')" style="display: inline;">
                                        <input type="hidden" name="userId" value="@item.UserId" />
                                        <input type="hidden" name="inventoryAssigmentId" value="@item.Id" />
                                    <button type="submit" class="btn btn-danger btn-custom">Zimmeti Kaldır</button>
                                    </form>



                                </td>

                            </tr>
                            
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p>Bu kullanıcının zimmetli envanteri bulunmamaktadır.</p>
            }
        </div>
    </div>
    <br />

