@model UserEditViewModel
@{
    Layout = "_Layout";  // Varsayılan olarak yeni layout'u kullan
}

<br />
<h3> | Kullanıcı Bilgisi </h3>
<br />
<p> "@Model.FullName"  Personelinin Detayları </p>
<hr />

<form asp-action="UserEdit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input name="Id" type="hidden" value="@Model.Id" />

    <!-- Kullanıcı Adı ve Email -->
    <div class="mb-3">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

@*     <!-- Parola Güncelleme -->
    <div class="card">
        <div class="card-header">
            Parola Güncelle
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>
        </div>
    </div>

    <!-- Roller -->
    <div class="card">
        <div class="card-header">
            Roller
        </div>
        <div class="card-body">
            @foreach (var role in ViewBag.Roles)
            {
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           name="SelectedRoles"
                           value="@role"
                           id="@role"
                           @if (Model.SelectedRoles != null && Model.SelectedRoles.Contains(role))
                           {
                               @:checked
                           } />
                    <label for="@role" class="form-check-label">@role</label>
                </div>
            }
        </div>
    </div> *@

    <!-- Zimmetli Envanterler -->
    <div class="card">
        <div class="card-header">
            Zimmetli Envanterler
        </div>
        <div class="card-body">
            @if (Model.InventoryAssigments != null && Model.InventoryAssigments.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Envanter Barkod</th>

                            <th>Zimmetli Tarih</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InventoryAssigments)
                        {
                            <tr>
                                <td>@item.Product.ProductBarkod</td>
                                <td>@item.AssignmentDate.ToString("yyyy-MM-dd")</td>
                                <td>
                                    <a asp-controller="Management" asp-action="UserDetails" class="btn btn-outline-dark btn-custom">
                                        <i class="fas fa-eye"></i> Görüntüle
                                    </a>
                                </td>
                            </tr>
                            
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p>Bu kullanıcının zimmetli envanteri bulunmamaktadır.</p>
            }
        </div>
    </div>
    <br />
    <button class="btn btn-dark">Kaydet</button>
</form>
